/* Reset some default styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure the body fills the viewport */
  background: url('/bg.jpeg') no-repeat center center fixed; /* Correct background image reference */
  background-size: cover; /* Ensure the image covers the whole screen */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.app-container {
  background-color: white;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
  border: 1px solid black;
  margin: 20px auto;
}

/* Add margin to space out the title and subtitle */
h1 {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 15px;
}

button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #333; /* Slightly lighter black on hover */
}

button, img {
  transition: all 0.3s ease;
}

button:hover, img:hover {
  transform: scale(1.05);
}

/* Ensure the app is responsive on mobile */
@media (max-width: 600px) {
  .app-container {
    padding: 10px;
    max-width: 90%;
  }

  button {
    width: 100%; /* Make the button full-width on smaller screens */
  }
}
